body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fcfcef;
    font-family: "Istok Web", sans-serif;
}
.subtitle{
    font-size: 2em;
    color: #808000;
    margin: 0;
}

.section{
    margin: 35px 70px;
}
.text{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 15px;
}
.graph-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#usoRedesCanvas {
    width: 700px !important;
    height: 500px !important; 
}

