.footer {
    margin-top: 5em;
    background-color: #BDCC99;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    gap: 20px;
}

.footer-left ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin-left: 80px;
    margin-right: 4px;
}

.footer-left{
    width: 10%;
}

.footer-left a {
    text-decoration: none;
    color: #fff; 
}

.footer-left li{
    margin: 15px 0;
}

.footer-left li:hover{
    font-weight: bold;
}


.footer-contact {
    width: 40%;
}

.footer-title{
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
    width: 50%;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.contact-form textarea {
    resize: none;
    height: 100px;
    border: 1px solid #bdcc99;
    border-radius: 10px;
    padding: 10px;

}

.contact-form input,
.contact-form button {
    border: 1px solid #bdcc99;
    border-radius: 10px;
    padding: 10px;
}

.contact-form input, textarea{
    color: #4a784a;
}

.contact-form button {
    background-color: #4a784a;
    color: white;
    cursor: pointer;
}

.contact-form button:hover{
    background-color: #e0cc9f;
    font-weight: bold;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 120px;
    margin-bottom: 10px;
}

.footer-logo p {
    color: #4a784a; /* Verde oscuro */
    font-weight: bold;
}